<footer>
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-left">
        <h3 class="py-3 text-dark">OTRA VEZ</h3>
        <p class="text-muted">
          <i class="fas fa-recycle fa-lg text-success mr-2"></i>
          moda sostenible
        </p>
        <h3 class="py-3 text-dark">MÁS INFORMACIÓN</h3>
        <p class="text-muted">No aceptamos devoluciones</p>
        <p class="text-muted">Para pre-ordenar contactarnos:</p>
        <p class="text-muted">
          <i class="far fa-envelope fa-lg mr-2"></i>
          <a href="mailto:otravez.hn@gmail.com?
						&subject=Hola%20Otra%20Vez"
						class="text-white text-decoration-none">
            otravez.hn@gmail.com
          </a>
        </p>
        <p class="text-muted">
          <i class="fab fa-whatsapp fa-lg mr-2"></i>
          <a href="https://wa.me/98722191"
						class="text-white text-decoration-none">
            8771-0492
          </a>
        </p>
      </div>
      <div class="col-12 col-md-6 text-center text-md-left">
        <h3 class="py-3 text-dark">REDES SOCIALES</h3>
        <div class="d-flex justify-content-around justify-content-md-start">
          <a class="text-muted"
						href="https://www.instagram.com/o.t.r.a.v.e.z/"
						target="_blank">
            <i class="mr-md-5 fab fa-instagram fa-lg"></i>
          </a>
          <a class="text-muted"
						href="mailto:otravez.hn@gmail.com">
            <i class="far fa-envelope fa-lg"></i>
          </a>
        </div>
        <h3 class="py-4 text-dark">MÉTODOS DE PAGO</h3>
        <div class="d-flex justify-content-around justify-content-md-start text-muted">
          <i class="mr-md-5 fas fa-money-bill fa-lg"></i>
          <i class="mr-md-5 fab fa-paypal fa-lg"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
