<section class="bgimage">
	<div class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-4 offset-md-8 col-12 text-center">
				<h1 class="text-white">HOLA CHELE</h1>
			</div>
		</div>
	</div>
</section>

<style>
.bgimage {
	width:100%;
	height:500px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(<%= image_path('banner.jpg') %>);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
</style>
