#products {
	.fixed-table-toolbar {
	  float: left;
	}
}

#orders {
	.fixed-table-toolbar {
	  float: left;
	}
}

#shipped-orders {
	.fixed-table-toolbar {
	  float: left;
	}
}

#declined-orders {
	.fixed-table-toolbar {
	  float: left;
	}
}
