.div-image {
	width:auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

#shopping_cart {
	.icon-wrapper{
		position:relative;
		float:left;
		.badge {
			background: rgba(0,0,0,0.45);
			width: auto;
			height: auto;
			margin: 0;
			border-radius: 50%;
			position:absolute;
			top:-13px;
			right:-8px;
			padding:5px;
		}
	}
}
#addedToCart {
	.modal-content  {
		border-radius: 0rem;
		border:0px;
	}
	.modal-header {
		border-bottom:0;
	}
	.modal-title {
		margin:auto;
	}
}

.title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #ee4266;
    display: inline-block;
    color: #000;
}

#hero h1 {
	font-size: 70px;
}
