<div class="row my-4">
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				<div class="text-center">
					<div class="py-2 d-none d-md-block">
						<%= image_tag(asset_path('logo.png'),
						height: 'auto', width: '160',
						class: "d-block mx-auto mb-4") %>
					</div>
					<div class="py-4">
						<h1 class="display-3">¡Muchas Gracias!</h1>
						<p class="lead">
							Pronto te llegará
							<strong id="hola">un correo</strong> con el resumen de tu compra.
						</p>
						<small data-controller="clipboard">
							Orden #:
							<a href="#" class="link-success btn-clipboard"
								data-action="clipboard#copy">
								<span data-target="clipboard.source"
									data-toggle="tooltip"
									title="Copia tu orden">
									<%= params[:id] %>
								</span>
							</a>
						</small>
						<hr class="mx-5">
						<p>
							¿Tienes algun comentario?
							<a href="mailto:otravez.hn@gmail.com">
								Escribenos
							</a>
						</p>

						<a class="text-danger mt-2 text-decoration-none"
							href="https://www.instagram.com/o.t.r.a.v.e.z/"
						 	target="_blank">
							<span data-aos="fade-right">
								<i class="fab fa-instagram fa-3x"></i>
								<br>
								<span class="text-danger">
									@o.t.r.a.v.e.z
								</span>
							</span>
						</a>
					</div>
					<p class="lead mt-3 mb-4" data-aos="fade-left">
						<a class="btn btn-primary btn-sm" href="/"
							role="button">
							Ir a inicio
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
