<div class="row my-4">
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				<div class="text-center">
					<div class="py-2 d-none d-md-block">
						<%= image_tag(asset_path('logo.png'),
						height: 'auto', width: '160',
						class: "d-block mx-auto mb-4") %>
					</div>
					<div class="py-4">
						<h1 class="display-3">¡Muchas Gracias!</h1>
						<p class="lead">
							Pronto te llegará
							<strong id="hola">un correo</strong> con el resumen de tu compra.
						</p>
						<div data-controller="clipboard"
						  class="d-flex align-items-center
						  justify-content-center py-2 lead">
						  <p class="mb-0">
						    Orden #:
						    <span data-target="clipboard.source">
						      <%= params[:id] %>
						    </span>
						  </p>
						  <button type="button"
						    class="btn btn-outline-success btn-sm ml-3"
						    data-action="clipboard#copy"
						    data-toggle="tooltip"
						    title="Copia número de orden">
						    Copiar
						  </button>
						</div>
						<hr class="mx-5">
						<p>
							¿Tienes algun comentario?
							<a href="mailto:otravez.hn@gmail.com">
								Escribenos
							</a>
						</p>

						<a class="text-danger mt-2 text-decoration-none"
							href="https://www.instagram.com/o.t.r.a.v.e.z/"
						 	target="_blank">
							<span data-aos="fade-right">
								<i class="fab fa-instagram fa-3x"></i>
								<br>
								<span class="text-danger">
									@o.t.r.a.v.e.z
								</span>
							</span>
						</a>
					</div>
					<p class="lead mt-3 mb-4" data-aos="fade-left">
						<a class="btn btn-primary btn-sm" href="/"
							role="button">
							Ir a inicio
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
