<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300'
			rel='stylesheet' type='text/css'>
		<style>
		/* Email styles need to be inline */
			body {
				background-color:#F0F2F3;
				width:100%;
				margin:auto;
				padding:9px 0;
				font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			}
		</style>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
